	/*---------------------------------------------Header---------------------------------------------*/
	.head{
		text-decoration: none;
		background-color: white;
		color: black;
		cursor: pointer;
		font-size: 15px;
		border: none;
	}
	.headLink p button{
		font-size: 20px;
		text-shadow: 2px left;
	}
	.headLink div button:hover{
		cursor: pointer;
	}
	#webdev h1 a{
		text-decoration: none;
		color: black;
	}
	#webdev :hover{
		color: lightgreen;
	}
	#header:hover{
		border-bottom: 1px solid lightgreen;
	}
	#header{
		float: left;padding: 10px;
		cursor: pointer;
	}
	#webdev2{
		float: right;
		margin-bottom: 0px;
		width: 420px;
		text-align: center;
	}
	#webdev{
		float: left;
		width: 240px;
		margin-left: 20px;
		cursor: pointer;
	}
	#share{
		text-decoration: none;
		border:none;
		color: black;
		font-size: 15px;
		background-color: white;
		margin-bottom: 0px;
	}
	#heas{
		height: 70px;
		font-family: Segoe UI;
		background-color: white;
		position: fixed;
		width: 100%;
		border-bottom: 2px solid #f2f2f2;
	}
	/*-------------------------------------------Navigation bar-------------------------------------------*/
.sidenav {
  opacity: 0.9;
  height: 100%;
  width: 0;
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 0;
  right:0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 400px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

	/*---------------------------------------------Aritcle---------------------------------------------*/
	#article{
		background: url("Images/IMG-20190211-WA0022.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		color: white;
		text-align: center;
		padding: 4em;
		line-height: 10px;
		margin-top: 0px;
		background-attachment: fixed;
		font-family: Segoe UI;
	}
	#skillBtn{
		font-family: Segoe UI;
		font-size: 40px;
		text-align:center;
		color:white;
		background-color: lightgreen;
		border-radius: 10px;
		cursor: pointer;
	}
	/*---------------------------------------------About---------------------------------------------*/
	.about{
		background-color: white;
		margin:0 auto;
		padding: 1em;
		height:600px;
		font-family:Segoe UI;
	}
	#minhaj{
		height:400px;
		width: 350px; 
		float: left;
		border-radius:5px; 
	}
	#aboutHead{
		text-align:center;
		font-size: 40px;
		padding: 0.5em;
	}
	/* ----------------------------------------------skill----------------------------------------------*/
	.grid{
		-webkit-box-shadow:-2px 10px 22px -16px rgba(0,0,0,.75);
		-moz-box-shadow:-2px 10px 22px -16px rgba(0,0,0,.75);
		box-shadow:-2px 10px 22px -16px rgba(0,0,0,.75);
		border-radius: 5px;
		border-top: 3px solid gray;
		padding: 1em;
		width:100px;
		height:100px;
		float:left;
		float: left;
		margin:30px;
		text-align:center;
		font-family: Segoe UI;
		background-color: white;
	}
	.grid:hover{
		-webkit-box-shadow:-2px 15px 22px -16px rgba(0,0,0,.75);
		-moz-box-shadow:-2px 15px 22px -16px rgba(0,0,0,.75);
		box-shadow:-2px 15px 22px -16px rgba(0,0,0,.75);
	}
	#skill{
		margin: 0 auto;
		text-overflow: none;
		padding: 1em;
		font-family:Segoe UI;
		height:600px;
		border-bottom: 3px solid lightgray; 
		background-color: #f2f2f2;
	}
	#skill1{
		text-align:center;
		font-size: 40px;
		padding: 0.5em;
	}
	.skillBox{
		font-weight:bold;
		color: black; 
	}
	/*---------------------------------------------Cotation---------------------------------------------*/
	#pol{
		background:url("Images/b52fe7d8ba546dd01c9f3b0ee48a22a6-day-3-1080.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
		background-attachment: fixed;
		padding: 4em;
		text-align: center;
		font-size: 40px;
		color: white;
		height: 200px;
	}
	/*---------------------------------------------Here Me---------------------------------------------*/
	.contactBtn{
		text-decoration: none; 
		color: white; 
		background-color: lightgreen;
		width:97%;
		height:25px;
		font-family:Segoe UI;
		border-radius: 10px;
		padding: 0.4em;
		height: 40px;
		font-size: 20px;
	}
	#hereMeHead{
		text-align:center;
		font-size: 40px;
		padding: 0.5em;
	}
	.textarea{
		width:97%;
		font-size: 20px;
		padding: 0.4em;
		border:1px solid gray;
	}
	.info{
		float: left;
		width:277px;
		font-size: 20px;
		padding: 0.4em;
		border:1px solid gray;
	}
	.hereMe{
		background-color: white;
		margin:0 auto;
		height:400px;
		padding: 1em;
		max-width: 100%;
		font-family:Segoe UI;
	}
	.img_icon{
		width:50px;
		height:50px;
		border-radius: 10px;
	}
	.con{
		margin-top: 0em;
		width: 500px;
		float: left;
		text-align: center;
		font-family:Segoe UI;
		font-size: 20px;
		}
	.con a{
		text-decoration: none;
		color: lightgreen;
	}
	.con a:hover{
		color: black;
		cursor: pointer;
	}
	/*---------------------------------------------footer-----------------------------------------------*/
	footer{
		height:250px;
		padding: 3em;
		border-top: 1px solid gray;
		background-color: #f2f2f2;
	}
	.subscribEmail{
		height: 35px;
		font-size: 15px;
		width: 300px;
		font-family: Segoe UI;
	}
	.suscribeBtn{
		text-decoration: none;
		color: white;
		background-color: lightgreen;
		height:42px;
		font-size: 15px;
		font-family: Segoe UI;
	}